html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

*{outline:none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}

::-webkit-scrollbar { width: 49px; height: 3px;}
::-webkit-scrollbar-button{ height:49px}
::-webkit-scrollbar-button:start { background:#CFD8DC url(images/arrow.png) no-repeat 0 0;}
::-webkit-scrollbar-button:end  { background:#CFD8DC url(images/arrow.png) no-repeat 0 -49px}
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background: #ECEFF1;}
::-webkit-scrollbar-thumb { height: 49px; background: #607D8B url(images/scroll.png) no-repeat center center; }
::-webkit-scrollbar-corner { background-color: #9C27B0}
::-webkit-resizer { background-color: #666;}
::-webkit-resizer { background-color: #666;}

body{overflow:hidden;color:#333;font:normal 16px/1.5 'Open Sans Condensed', Roboto,  Arial, Helvetica, sans-serif;
background:#1565C0
}
header{border-bottom:1px solid #eee;height:85px;background:#fff}

aside,iframe{width:1620px;height:1080px;border:none;display:inline;float:left}
aside{width:300px}

h1,h2,h3,h4{font:300 38px/1 'Open Sans Condensed', Arial, Helvetica, sans-serif;color:#eee; margin-bottom:30px;letter-spacing:1px;text-transform:uppercase;}
h2{font-size:16px;color:#333;clear:both}
h3{font-size:16px;color:#333}
p{margin:0 0 10px}
hr{border:1px solid rgba(0,0,0,0.12);border-width:1px 0 0;margin:20px 0 0;padding:0 0 20px;clear:both}

nav{position:fixed; left:0; bottom:0;width:100%;z-index:100;text-align:center}
nav ul{margin:0;padding:0;list-style:none;}
nav ul li{display:inline;padding:0;margin:0 30px}
nav ul li a{display:inline-block;text-decoration:none;text-transform:uppercase;color:#333;color:#fff;font:300 16px/1.4  'Open Sans Condensed', Arial, Helvetica, sans-serif;padding:0 0 5px}
nav ul li a span:before{background:url(images/button.png) no-repeat;width:220px;height:100px;content:"";display:block;margin:20px 0 0}

nav ul li:nth-child(1) a span:before{background-position:0 0}
nav ul li:nth-child(2) a span:before{background-position:0 -100px}
nav ul li:nth-child(3) a span:before{background-position:0 -200px}
nav ul li:nth-child(4) a span:before{background-position:0 -300px}

nav .active a{background-image:url(images/opacity.png);background-repeat:repeat}


section{padding:75px 25px 0}
section a{text-decoration:none;color:#666}

#the_frame{width:1620px;margin:auto}
#logo{background:#fff url(images/logo.png) no-repeat 10px 10px ;width:145px;height:145px; position:fixed;top:10px;left:43%;text-indent:-9999px;border-radius:90px;padding:20px}
#back{position:fixed;right:10px;top:140px;z-index:100;}
#back a{color:#666;background:url(images/back-button.png) no-repeat;display:inline-block;line-height:80px;width:200px;text-decoration:none;text-transform:uppercase; text-indent:-9999px}
#img{display:block;width:85%;margin:auto}


.subnav{margin:0;padding:50px 0 0;list-style:none;text-align:center;text-transform:uppercase}
.subnav li{display:inline;padding:0 10px;position:relative;font-size:1.75em;line-height:60px}
.subnav li a{display:inline-block;text-decoration:none;color:#333;background:#eee url(images/findadoctor.png) no-repeat;width:360px;padding:480px 0 0;font-family:'Open Sans Condensed'}
.subnav li:nth-child(1) a{background-position:0 0}
.subnav li:nth-child(2) a{background-position:-360px 0 }
.subnav li:nth-child(3) a{background-position:-720px 0}

.services-nav.subnav li:nth-child(1) a{background-position:-1080px 0}
.services-nav.subnav li:nth-child(2) a{background-position:-1440px 0}
.services-nav.subnav li:nth-child(3) a{background-position:-1800px 0}
.services-nav.subnav li:nth-child(4) a{background-position:-2160px 0}

.alphabetical{margin:0 0 30px;padding:0;list-style:none;text-align:center}
.alphabetical li{display:inline;padding:0 10px}
.alphabetical li a{display:inline-block;background:#EAEAEA;line-height:75px; width:75px}

.btn-set1{margin:0;padding:50px 0 0;list-style:none;text-align:center}
.btn-set1 li{display:inline;padding:0 5px; }
.btn-set1 li a{display:inline-block;background:#EAEAEA;line-height:75px; width:500px;margin:0 0 20px;font-size:1.1em;text-transform:uppercase}
.btn-set1 .double{width:1020px}
.set2 li a{width:24%;}

.card{border:1px solid #ccc;width:300px;float:left;margin:0 15px 5px 0}
#card-doctor {width:100%}


.fade {opacity: 1;transition: opacity .25s ease-in-out;-moz-transition: opacity .25s ease-in-out;-webkit-transition: opacity .25s ease-in-out;}
.fade:hover {opacity: 0.5;}

.row{margin:0 0 10px;display:inline;float:left}
.full{width:100%}
.one-half{width:50%}
.one-third{width:33.33333333333333%}
.two-thirds{width:66.66666666666667%}
.one-fourth{width:25%}
.one-fifth{width:20%}
.the_content{padding:50px 0 0}
.the_inner{background:#fff;margin-right:20px;min-height:605px;color:#666}
.no-minheight {min-height:0}
.push-one-third{margin-left:480px;width:480px}

.main_bg{background:#fff;padding:25px;min-height:655px}

.map {width:300px;margin:25px auto 0;display:block;text-align:center;text-transform:uppercase}
.map img{width:100%;}

.button{color: #fff !important;word-spacing: 0.25em;font-family: 'Open Sans Condensed', sans-serif;text-transform: uppercase;border: none;line-height: 22px;padding: 12px 13px 11px;text-align: center;display: inline-block;margin-top: 5px;margin-bottom: 18px;text-decoration: none;font-size: 11px;color: #fff;text-shadow: none;}
.button:visited{color: #fff;}
.button:hover{color: rgba(255,255,255, 0.75);text-decoration: none;-webkit-box-shadow:inset 0 10px 20px rgba(255,255,255, 0.10);-moz-box-shadow: inset 0 10px 20px rgba(255,255,255, 0.10);box-shadow: inset 0 10px 20px rgba(255,255,255, 0.10);}
.button:active {-webkit-box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);-moz-box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);}

#all_list {height:575px;overflow:auto}
#all_list a{display:block;padding:10px;}
.grey{background:#ccc}

.the-content{padding:0 10px 0 0;margin:0 20px 0 0;overflow:auto;height:540px}
.the-content td{padding:5px 10px}

.bg_area{background:#fff url(images/opacity.png);height:625px;overflow:auto}

.doclist li{display:inline-block;padding:0;font:18px roboto;line-height:42px}
.doclist li:nth-child(1){width:10%}
.doclist li:nth-child(2){width:30%}
.doclist li:nth-child(3){width:55%}

.doclist.spic li:nth-child(1){width:10% !important}
.doclist.spic li:nth-child(2){width:55% !important}
.doclist.spic li:nth-child(3){width:30% !important}

#doclist_title{background:#2196F3;color:#fff;padding:20px 0}
#doclist_title li{font-size:28px;text-transform:uppercase;font-family: 'Open Sans Condensed';text-indent:10px}


#searchtxt-wrapper {
    width: 1280px;height: auto;position: absolute;top: 30%;left: 180px;
    z-index:9998;
}

#search_txt, #procedure_search{padding: 10px 17px;font-size: 45px; text-transform:uppercase;color: #333; width:1280px; height:85px; }
#auto-suggest{padding: 10px 17px;font-size: 30px; text-transform:uppercase;color: #333;
      border: 1px solid #ddd; background:#FFF; display:none;
}


#keyboardcont{width: 1360px;height: 400px;position: absolute;bottom: 175px;left: 180px;}
#keyboardcont button{background:#263238;color:#ECEFF1;border:1px solid #607D8B;height:84px}


.animate{transition: all 0.1s;-webkit-transition: all 0.1s;text-transform:uppercase;}
.action-button{position: relative;padding: 10px 40px;margin: 0px 10px 10px 0px;float: left;font-size: 24px;color: #FFF;text-decoration: none;	}
.blue{background-color: #eee;border-bottom: 3px solid #ccc;color:#333;font-weight:300}




.main-content-area{padding:20px;font-family:roboto;overflow:auto;}
.main-content-area li,
.main-content-area p{font:300 16px/1.5 roboto}


.doc-info{line-height:1;padding:10px;color:#E70D2F}
.doc-info span{display:inline-block;width:150px;}
.doc-info-map{width:200px;margin:auto;text-align:center}
.doc-info-map img{width:100%}
.doc-info li{font:300 12px/1.5 roboto;}
.big-text{font-size:18px !important;border-bottom:1px dotted #ccc;color:#333;}
.doc-info-accredited li {padding:8px 0;color:#000;text-transform:uppercase;display:inline-block; border-bottom:1px dotted #ccc;color:#333;width:49%;font-size:13px !important;}


.walkthrough {font-size:22px; padding:15px}
.walkthrough h2{font-size:22px;}
.walkthrough span{color:#E70D2F}
.walkthrough .walk li:nth-child(1){border-top:1px dotted #ccc}
.walkthrough .walk li{border-bottom:1px dotted #ccc;padding:15px 5px}
.symbols_legent{width:50%;margin:0 0 0 25px}


.VideoControls,
.thumbsHolderWrapper{display:none;visibility:hidden}

.swiper-wrapper img {display:block}

.content_ads{position:absolute; left:300px;top:160px;width:1595px;height:771px;background:#fff;display:none}
.main-content-area{font-size:16px;line-height:1.5}
.main-content-area h2{font:26px roboto;line-height:1;margin:0;padding:20px 0 30px;color:#0D47A1}
.main-content-area h3{font:18px roboto;line-height:1;margin:0;color:#0D47A1}
.main-content-area h3.space{padding:10px 0}
.main-content-area small{font-size:14px;line-height:1.25;margin-bottom:15px;display:block;color:#1565C0}
.bull{list-style-type:disc;padding-left:30px;font-size:18px;margin-bottom:15px}
.no-bull{padding:20px 0 0 30px;font-size:18px;margin-bottom:15px}
.decimal{list-style-type:decimal;padding-left:30px;font-size:18px;margin-bottom:15px}

.upper-alpha{list-style-type:upper-alpha;padding-left:30px;font-size:18px;margin-bottom:15px}
.lower-alpha{list-style-type:lower-alpha;padding-left:30px;font-size:18px;margin-bottom:15px}

.decimal .bull{margin:0}
.star{color:#FFC107}
.clearfix{clear:both}
.responsive{width:100%;display:block;border:1px solid rgba(0,0,0,0.12);padding:3px;margin-bottom:20px}

#records{color:#fff}
.view{background:#607D8B;text-align:center;color:#fff;margin-right:10px;border-radius:20px;font-size:14px !important;text-transform:uppercase}



.bg_area.hmo-doc li{font-size:12px;padding:0}

.big-text#hmo_title{text-transform:uppercase !important;font-size:28px !important;margin-bottom:20px}
.doc-info.the_hmo_list li{border:0 !important;}
.big-text em{text-decoration: line-through; color:#efefef}

#demo { width:1020px;height:574px;position:absolute;left:0;margin:0;}

#demo.floorGF{ background:url(images/map_gf.png); }
#demo.floor2F{ background:url(images/map_2f.png); }
#demo.floor3F{ background:url(images/map_3f.png); }
#demo.floor4F{ background:url(images/map_4f.png); }
#demo.floor5F{ background:url(images/map_5f.png); }
#demo.floor6F{ background:url(images/map_6f.png); }
#demo.floor7F{ background:url(images/map_7f.png); }
#demo.floor8F{ background:url(images/map_8f.png); }
#demo.floor9F{ background:url(images/map_9f.png); }
#demo.floor10F{ background:url(images/map_10f.png); }
#demo.floor11F{ background:url(images/map_11f.png); }
#demo.floor12F{ background:url(images/map_12f.png); }
#demo.floor13F{ background:url(images/map_13f.png); }
#demo.floor14F{ background:url(images/map_14f.png); }
#demo.floor15F{ background:url(images/map_15f.png); }


h2.legend{color:#2196F3;padding:20px;font-size:28px;padding:75px 0 0 25px}

#the_leg.floorGF{ background:#fff url(images/map_gf.png) no-repeat top right; }
#the_leg.floor2F{ background:#fff url(images/map_2f.png) no-repeat top right; }
#the_leg.floor3F{ background:#fff url(images/map_3f.png) no-repeat top right; }
#the_leg.floor4F{ background:#fff url(images/map_4f.png) no-repeat top right; }
#the_leg.floor5F{ background:#fff url(images/map_5f.png) no-repeat top right; }
#the_leg.floor6F{ background:#fff url(images/map_6f.png) no-repeat top right; }
#the_leg.floor7F{ background:#fff url(images/map_7f.png) no-repeat top right; }
#the_leg.floor8F{ background:#fff url(images/map_8f.png) no-repeat top right; }
#the_leg.floor9F{ background:#fff url(images/map_9f.png) no-repeat top right; }
#the_leg.floor10F{ background:#fff url(images/map_10f.png) no-repeat top right; }
#the_leg.floor11F{ background:#fff url(images/map_11f.png) no-repeat top right; }
#the_leg.floor12F{ background:#fff url(images/map_12f.png) no-repeat top right; }
#the_leg.floor13F{ background:#fff url(images/map_13f.png) no-repeat top right; }
#the_leg.floor14F{ background:#fff url(images/map_14f.png) no-repeat top right; }
#the_leg.floor15F{ background:#fff url(images/map_15f.png) no-repeat top right; }
#the_leg .floor_name{ font-weight: bold; size: 15px; margin-left:730px; position: absolute;}

.test_list_item li{display:inline-block;font-family:roboto;text-indent:0 !important}
.test_list_item li:nth-child(1){width:45%}
.test_list_item li:nth-child(2){width:25%}
.test_list_item li:nth-child(3){width:10%}
.test_list_item li:nth-child(4){width:10%}

.numb li{background:url(images/1234.png) no-repeat;height:75px;padding-left:80px !important;}
.numb li:nth-child(1){background-position:0 0;}
.numb li:nth-child(2){background-position:0 -75px;}
.numb li:nth-child(3){background-position:0 -150px;}
.numb li:nth-child(4){background-position:0 -225px;}

.directions{display:block;padding:20px;background:#607D8B;color:#fff;margin:20px 0 0;font-family:roboto;text-transform:uppercase;font-size:20px}
.directions:hover{background:#CFD8DC;color:#607D8B}

#color-item li:nth-child(9) a,
#color-item li:nth-child(10) a,
#color-item li:nth-child(11) a,
#color-item li:nth-child(12) a,
#color-item li:nth-child(13) a{background:#607D8B  !important;color:#fff}

.time-frame {

    color: #212121;
    width: 250px;
    font-family: roboto;
}

.time-frame > div {
    width: 100%;
    text-align: center;
}

#date-part {
    font-size: 1.2em;
}
#time-part {
    font-size: 2em;
}

#time{position:absolute;top:10px;right:0;z-index:100;width:250px;height:85px;}

.img-size{width:100%;border:1px solid #ccc; padding:2px}
#cont_remember{font-size:30px;width:100%;text-align:center;clear:both;text-transform:uppercase;padding:50px 0 0}
#canvas1{background:url(images/gfmap.png) no-repeat !important;}


